<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/usuario/login" id="loginForm" method="POST">
        <label for="">Email</label>
        <input type="text" name="email" id="email" placeholder="Email">
        <br>
        <label for="">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
        <br>
        <input type="submit" value="Submit">
    </form>
    <div id="msg">
        <% if(error){ %>
            <%= error %>
        <% } %>
    </div>
</body>
<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js";
    import { getAuth, signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-auth.js";

    const firebaseConfig = {
        apiKey: "<%= apiKey %>",
        authDomain: "<%= authDomain %>",
        projectId: "<%= projectId %>",
        storageBucket: "<%= storageBucket %>",
        messagingSenderId: "<%= messagingSenderId %>",
        appId: "<%= appId %>"
    };

    const app = initializeApp(firebaseConfig);
    const auth = getAuth(app);
    const Form = document.getElementById('loginForm');

    Form.addEventListener('submit', (event) => {
        event.preventDefault();

        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

            const user = signInWithEmailAndPassword(auth, email, password)
            .then((userData) => {
                const idToken = userData._tokenResponse.idToken;

                fetch('/usuario/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${idToken}`
                    },
                    body: JSON.stringify({ email, password })
                }).then((response) => response.text())
                .then((data) => {
                    console.log(data)
                    document.getElementById('msg').innerHTML = data;
                });
                
            })
            .catch((error) => {
                document.getElementById('msg').innerHTML = "Error al iniciar sesión" + error.message
                console.log("Error", error.message);
            });
        })
</script>
</html>