<!DOCTYPE html>
<html>
<head>
  <title>Crear paciente</title>
  <link 
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
  rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/sidebar.css" />
  <link rel="stylesheet" href="/css/button.css" />
  <link rel="stylesheet" href="/css/searchbar.css" />
  <link rel="stylesheet" href="/css/rectangle.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body class="">
  <%- include('sidebar.component.ejs', { userName: 'Mariela Macias' }) %>	
  
  <form class="register_patient_form" method="POST" action="/pacientes/registrar_paciente"></form>
  <main class="main-content">
  
    <div class="row">
      <div class="col-md-6">
        <%- include('title.component.ejs', {
            text: 'Nuevo Paciente'
        }) %>
      </div>
    
      <div class="col-md-6 d-flex justify-content-end align-items-end">
        <%- include('button.component.ejs', {
          id: 'btnListaPacientes',
          text: 'Guardar',
          href: '/pacientes'
        }) %>
      </div>
    </div>
    
  
  <div class="container mt-5 mb-5">    
    <div class="row-of-rectangles">
      <!--Tarjeta Izquierda-->
      <%- include('rectangle.component.ejs', {
        color: 'white',
        height: 100,
        content: `
            ${include('subsubtitle.component.ejs', {
              text: 'Datos del paciente'
          })}      
          ${include('text.component.ejs', {
            text: 'Nombre completo:',
            bold: ''
          })}
          ${include('textInput.component.ejs', {
            color: 'pink',
            name: 'Name',
            placeholder: 'Nombre completo',
            required: true
          })}
          ${include('text.component.ejs', {
                  text: 'Email:',
                  bold: ''
          })}
          ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Email',
                  placeholder: 'Email',
                  required: false
          })}
          ${include('text.component.ejs', {
            text: 'Teléfono:',
            bold: ''
        })}
          ${include('textInput.component.ejs', {
            color: 'pink',
            name: 'Phone',
            placeholder: 'Telefono',
            required: false
          })}
          ${include('text.component.ejs', {
            text: 'Escolaridad:',
            bold: ''
        })}
          ${include('textInput.component.ejs', {
            color: 'pink',
            name: 'Education',
            placeholder: 'Escolaridad',
            required: false
          })}
          ${include('text.component.ejs', {
            text: 'Empleo:',
            bold: ''
        })}
          ${include('textInput.component.ejs', {
            color: 'pink',
            name: 'Occupation',
            placeholder: 'Empleo',
            required: false
          })}
          ${include('text.component.ejs', {
            text: 'Estado Civil:',
            bold: ''
        })}
          ${include('textInput.component.ejs', {
            color: 'pink',
            name: 'Marital_Status',
            placeholder: 'Estado Civil',
            required: false
          })}
          ${include('text.component.ejs', {
            text: 'Religión:',
            bold: ''
        })}
          ${include('textInput.component.ejs', {
            color: 'pink',
            name: 'Religion',
            placeholder: 'Religion',
            required: false
          })}
          ${include('text.component.ejs', {
                  text: 'Contacto de Emergencia:',
                  bold: ''
          })}
          ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Emergency_Contact',
                  placeholder: 'Contacto de Emergencia',
                  required: false
          })}
          ${include('text.component.ejs', {
                  text: 'Fecha de Nacimiento:',
                  bold: ''
          })}
          ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Date_of_Birth',
                  type:'date',
                  placeholder: 'Fecha de Nacimiento',
                  required: false
          })}          
        `
    }) %>
<!-- Tarjeta Derecha con estilo igualado -->

        <%- include('rectangle.component.ejs', {
          color: 'white',
          height: 80,
          content: `
          ${include('subsubtitle.component.ejs', {
            text: 'Valoración médica'
        })}   
            <div class="row">
              <div class="col-md-6">
                ${include('text.component.ejs', {
                  text: 'Peso (kg):',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Weight',
                  type: 'number',
                  placeholder: 'Ej. 60',
                  required: false
                })}
              </div>
              <div class="col-md-6">
                ${include('text.component.ejs', {
                  text: 'Altura (m):',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Height',
                  type: 'number',
                  placeholder: 'Ej. 1.70',
                  required: false
                })}
              </div>
            </div>

            <div class="row">
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Enfermedades sistemáticas:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Pathological_Antecedents[Systematic_Diseases]',
                  placeholder: 'Ej. Diabetes, Hipertensión',
                  required: false
                })}
              </div>
              <div class="col-md-6">
                ${include('text.component.ejs', {
                  text: 'Eventos quirúrgicos:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Pathological_Antecedents[Surgical_Antecedents]',
                  placeholder: 'Ej. Apendicitis, Cesárea',
                  required: false
                })}
              </div>
            </div>
            <div class="row">
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Embarazos:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Pathological_Antecedents[Pregnancies]',
                  placeholder: 'Ej. 2',
                  required: false
                })}
              </div>
              <div class="col-md-6">
                ${include('text.component.ejs', {
                  text: 'Hospitalizaciones:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Pathological_Antecedents[Hospitalizations]',
                  placeholder: 'Ej. 1',
                  required: false
                })}
              </div>
            </div>
            <div class="row">
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Lesiones musculoesqueléticas:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Pathological_Antecedents[Musculoskeletal_Problems]',
                  placeholder: 'Ej. Fractura de brazo',
                  required: false
                })}
              </div>
              <div class="col-md-6">
                ${include('text.component.ejs', {
                  text: 'Transfusiones:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Pathological_Antecedents[Transfusions]',
                  placeholder: 'Ej. 1',
                  required: false
                })}
              </div>
            </div>
            <div class="row">
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Alergias:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Pathological_Antecedents[Allergies]',
                  placeholder: 'Ej. Penicilina',
                  required: false
                })}
              </div>
              <div class="col-md-6">
                ${include('text.component.ejs', {
                  text: 'Frecuencia de ingesta de alcohol:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Non_Pathological_Antecedents[Alcohol]',
                  placeholder: 'Ej. 2 veces por semana',
                  required: false
                })}
              </div>
            </div>
            <div class="row">
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Otras sustancias:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Non_Pathological_Antecedents[Other_Substances]',
                  placeholder: 'Ej. Tabaco, marihuana',
                  required: false
                })}
              </div>
              <div class="col-md-6">
                ${include('text.component.ejs', {
                  text: 'Hábitos alimenticios:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Non_Pathological_Antecedents[Food]',
                  placeholder: 'Ej. Vegetariano, vegano',
                  required: false
                })}
              </div>
            </div>
            <div class="row">
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Hábitos de hidratación:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Non_Pathological_Antecedents[Hidration]',
                  placeholder: 'Ej. 2 litros al día',
                  required: false
                })}
              </div>
              <div class="col-md-6">
                ${include('text.component.ejs', {
                  text: 'Actividad física:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Non_Pathological_Antecedents[Physical_Activity]',
                  placeholder: 'Ej. 3 veces por semana',
                  required: false
                })}
              </div>
            </div>
            <div class="row">
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Actividad laboral:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Non_Pathological_Antecedents[Laboral_Activity]',
                  placeholder: 'Ej. Sedentario, activo',
                  required: false
                })}
              </div>
              <div class="col-md-6">
                ${include('text.component.ejs', {
                  text: 'Sueño:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Non_Pathological_Antecedents[Sleep]',
                  placeholder: 'Ej. 8 horas al día',
                  required: false
                })}
              </div>
            </div>
            <div class="row">
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Estrés:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Non_Pathological_Antecedents[Stress]',
                  placeholder: 'Ej. Bajo, moderado, alto',
                  required: false
                })}
              </div>
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Hipertensión Arterial:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Family_History[Arterial_Hypertension]',
                  placeholder: 'Ej. Si mi madre',
                  required: false
                })}
            </div>
            </div>
            <div class="row">
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Diabetes:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Family_History[Diabetes]',
                  placeholder: 'Ej. Si mi padre',
                  required: false
                })}
              </div>
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Cáncer:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Family_History[Cancer]',
                  placeholder: 'Ej. Si mi madre',
                  required: false
                })}
              </div>
            </div>
            <div class="row">
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Infarto Agudo al Miocardio (IAM):',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Family_History[Acute_Myocardial_Infarction]',
                  placeholder: 'Ej. Si mi abuelo',
                  required: false
                })}
              </div>
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Evento Vascular Cerebral (EVC):',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Family_History[Cerebrovascular_Accident]',
                  placeholder: 'Ej. Si mi madre',
                  required: false
                })}
              </div>
            </div>
            <div class="row">
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Infección Respiratoria Viral (IRV):',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Family_History[Viral_Respiratory_Infections]',
                  placeholder: 'Ej. Si mi padre',
                  required: false
                })}
              </div>
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Enfermedades Tiroideas:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Family_History[Thyroid_Disease]',
                  placeholder: 'Ej. Si mi madre',
                  required: false
                })}
              </div>
            </div>
            <div class="row">
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Artritis Reumatoide / Lupus:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Family_History[Rheumatoid_Arthritis_Lupus]',
                  placeholder: 'Ej. Si mi madre',
                  required: false
                })}
              </div>
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Trastornos Neuromusculares:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Family_History[Neuromuscular_Disorders]',
                  placeholder: 'Ej. Si mi padre',
                  required: false
                })}
              </div>
            </div>
            <div class="row">
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Síndrome de Down:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Family_History[Down_Syndrome]',
                  placeholder: 'Ej. Si mi madre',
                  required: false
                })}
              </div>
              <div class = "col-md-6">
                ${include('text.component.ejs', {
                  text: 'Trastornos Mentales:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Family_History[Mental_Disorders]',
                  placeholder: 'Ej. Si mi padre',
                  required: false
                })}
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-md-6">
                ${include('text.component.ejs', {
                  text: 'Otro:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Family_History[Other]',
                  placeholder: 'Ej. Si mi madre',
                  required: false
                })}
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-md-6">
                ${include('text.component.ejs', {
                  text: 'Razon de la Consulta:',
                  bold: ''
                })}
                ${include('textInput.component.ejs', {
                  color: 'pink',
                  name: 'Reason_for_Consultation',
                  placeholder: 'Razon de la consulta',
                  required: false
                })}
              </div>
            </div>
            

          `
        }) %>
      
      </div>
  </form>
  </main>
</body>
</html>
