<!-- Aquí se deben incluir todos los componentes cuando estén listos -->

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Visualización de componentes</title>

  <!-- CSS ─────────────────────────────────────────────── -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/sidebar.css" />
  <link rel="stylesheet" href="/css/button.css" />
  <link rel="stylesheet" href="/css/searchbar.css" />
  <link rel="stylesheet" href="/css/rectangle.css">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
<body>
<!-- sidebar -->

<%- include('sidebar.component.ejs', {
    userName: 'Mariela Macias'
  }) %>

<main class="main-content">

<!-- title -->

<%- include('title.component.ejs', {
    text: 'Componente title'
}) %>

<!-- subtitle -->

<%- include('subtitle.component.ejs', {
    text: 'Componente subtitle'
}) %>

<!-- subsubtitle -->

<%- include('subsubtitle.component.ejs', {
    text: 'Componente subsubtitle'
}) %>

<!-- text -->

<%- include('text.component.ejs', {
    text: 'Componente text en negritas',
    bold: 'bold'
}) %>

<%- include('text.component.ejs', {
    text: 'Componente text normal',
    bold: ''
}) %>

<!-- searchbar -->

<%- include('searchbar.component.ejs') %>

<%- include('button.component.ejs', {       
        id: 'btnListaPacientes',
        text: '📋 Ver lista de pacientes',
        href: '/patients'
}) %>

<%- include('button.component.ejs', {
        id: 'btnNuevoPaciente',
        text: '➕ Crear nuevo paciente',
        href: '/patients/create'
}) %>

 <!-- rectangle -->

<div class="row-of-rectangles">

<% const subsubtitle = include('subsubtitle.component.ejs', { 
    text: 'Componente rectangle' 
}); %>

<% const text = include('text.component.ejs', {
    text: 'Componente rectangle blanco',
    bold: ''
}) %>

<%- include('rectangle.component.ejs', {
    color: 'white',
    content: `
      ${subsubtitle}
      ${text}
    `
}) %>

<%- include('rectangle.component.ejs', {
    color: 'pink',
    content: `
      ${subsubtitle}
      ${text}
    `
}) %>

</div>

<!-- textInput -->
<form>
  <%- include('textInput.component.ejs', {
    color: 'white',
    name: 'alohol',
    placeholder: 'Frecuencia de ingesta de alcohol',
    required: true
  }) %>

  <%- include('textInput.component.ejs', {
    color: 'pink',
    name: 'alohol',
    placeholder: 'Frecuencia de ingesta de alcohol',
    required: true
  }) %>
  <button>Botón para probar el required de los input de texto</button>
</form>

<!-- emailInput -->

<form>
    <%- include('emailInput.component.ejs', {
      color: 'white',
      name: 'email',
      placeholder: 'example@gmail.com',
      required: true
    }) %>
    <button>Botón para probar el emailInput</button>
</form>


<!-- intInput -->

<form>
    <%- include('intInput.component.ejs', {
      color: 'white',
      name: 'edad1',
      placeholder: 'Edad del paciente',
      min: 0,
      max: 100,
      required: true
    }) %>
    <button type="submit">Botón para probar min y max</button>
</form>

<!-- dateInput -->

<form>
    <%- include('dateInput.component.ejs', {
      color: 'white',
      name: 'fecha',
      placeholder: 'fecha de nacimiento',
      min: '1920-12-01',
      max: '2025-04-16',
      required: true
    }) %>
    <button type="submit">Botón para probar min y max</button>
</form>

<!-- costInput -->

<form>
    <%- include('costInput.component.ejs', {
      color: 'white',
      name: 'costoConsulta',
      placeholder: 'Costo de la sesión',
      min: 0,
      max: 10000,
      required: true
    }) %>

    <%- include('costInput.component.ejs', {
        color: 'pink',
        name: 'costoConsulta2',
        placeholder: 'Costo de la sesión',
        min: 0,
        max: 10000,
        required: true
      }) %>
    <button type="submit">Botón para probar costInput</button>
</form>

<!-- backArrow -->

<%- include('backArrow.component.ejs') %>

<!-- check -->
<%const text1 = include('text.component.ejs', {
  text: 'Facturacion automatica. Mucho texto de prueba para ver como se va a ver',
  bold: ''
}) %>

<%- include('check.component.ejs', {
  id: 'aceptarTerminos',
  text: `${text1}`,
  checked: false
}) %>

<!-- row -->
<% const title = include('subtitle.component.ejs', { text: 'Confirmación' }); %>
<% const inputCost = include('costInput.component.ejs', {
  color: 'white',
  name: 'costoConsulta',
  placeholder: 'Costo de la sesión',
  min: 0,
  max: 10000,
  required: true
}) %>
<%const checkPrueba = include('check.component.ejs', {
  id: 'checkprueba',
  text: `${text1}`,
  checked: false
}) %>

<%- include('rowComponents.component.ejs', {
  content: `${title}${checkPrueba}${inputCost}`
}) %>

<!-- modal -->

<% const idModal = 'PonElIdDeTuModalAqui'; %>
<button id="btnMostrarModal" data-modal-id="<%= idModal %>">Mostrar modal</button>


<%const button1 = include('button.component.ejs', {
  id: 'button1',
  text: '➕ Crear nuevo paciente',
  href: '/test/components'
}) %>
<%const button2 = include('button.component.ejs', {
  id: 'button2',
  text: '➕ Cancelar',
  href: '/test/components'
}) %>
<%const buttons = include('rowComponents.component.ejs', {
  content: `${button1}${button2}`
}) %>

<%- include('modal.component.ejs', {
  id: `${idModal}`,
  content: `${title}${checkPrueba}${inputCost}${buttons}`
}) %>

</main>
</body>
</html>
